/* Universal decleration of CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color of HTML of webpage is applied here. */
body {
    background-color: lightcyan;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:48px;
    margin-left: 150px;
    margin-top: 20px;
    color: black;

}

.nav a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 10px;
    color: darkcyan;
    overflow: hidden;
    float: right;
    text-align: center;
    text-decoration: underline;
    position: relative;
    display: flex;
}

header {
    padding: 40px;
    background-color: #243c48;
    color: lightgray;
    background-image: url("../images/header.jpeg");
}

.about {
    padding: 20px;
    margin: 30px;
    position: relative;

}
.profliePicture {
    width: 100px;
    height: 100px;
    position: absolute;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size:28px;
    margin: 10px;
    margin-right: 25px;
    display: inline-block;
    position: static;
    color: darkgray;
    padding: 20px;
}


.zigzag {
    background-image: url("../images/zigzag.jpeg");
    padding: 80px;
    margin-bottom: 20px;

}

.zigzagfont {
    color: rgb(10, 10, 50);
    font-size: xx-large;
    text-align: right;
    margin-top: 30px;
}
.paragraph {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    font-size:20px;
    position: relative;
    color: darkmagenta;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 250px;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

}

.footer h2 {
    font-size: 20px;
}

  .section {
    width: 1300px;
    height: 900px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    display: flex;
  }
  
  .img {
    width: 4000px;
    height: 400px;

  }
  

  .flex-container {
    position: relative;
    text-align: left;
    color: white;
    float: left;
  }

  .p {
    position: absolute;
    top: 1000px;
    left: 340px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
  }