/* Universal decleration of CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color of HTML of webpage is applied here. */
body {
    background-color: lightcyan;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:48px;
    margin-left: 150px;
    margin-top: 20px;
    color: black;

}

.nav a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 10px;
    color: darkcyan;
    overflow: hidden;
    float: right;
    text-align: center;
    text-decoration: underline;
    position: relative;
    display: inline-block;
}

header {
    padding: 40px;
    background-color: #243c48;
    color: lightgray;
    background-image: url("../images/header.jpeg");
}

.about {
    padding: 20px;
    margin: 30px;

}
.profliePicture {
    width: 100px;
    height: 100px;
    position: absolute;
    display: inline-block;
    margin-left: 20px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:28px;
    margin: 10px;
    margin-right: 25px;
    display: inline-block;
    position: static;
    color: darkgray;
    padding: 20px;
}


.zigzag {
    background-image: url("../images/zigzag.jpeg");
    padding: 100px;
    /* margin-bottom: 20px; */

}

.zigzagfont {
    color: rgb(10, 10, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-align: right;
    margin-top: 30px;
}
.paragraph {
    float: left;
    font-size:20px;
    position: relative;
    color: darkmagenta;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 200px;
    display: flex;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

}

.footer h2 {
    font-size: 20px;
}

.img1 {
    display: flex;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 19%;
    margin-left: 180px;
}

.img2 {
    display: flex;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 15%;
    margin-left: 180px;
}

.box {
    display: flex;
    justify-content: space-between;
  }

  .one {
    flex: 1;
    white-space: nowrap;
  }

  .two {
    flex: 1;
    margin-left: 25%;
    white-space: nowrap;
  }

  .three {
    flex: 1;
    margin-left: 25%;
    white-space: nowrap;
  }
